.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100px;
  z-index: 999999;
  margin: auto;
  .header-body {
    margin: auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 180px;
        cursor: pointer;
      }
    }
    .menu {
      display: flex;
      flex-direction: row;
      .menu-item {
        margin: 0 40px 0 40px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(48, 48, 48);
        cursor: pointer;
      }
      .navigation-menu {
        display: none;
      }
    }

  }


  @media (min-width: 992px) and (max-width: 1200px){
    //NAVIGATION-------
    .header-body {
      padding: 10px 30px;
      margin: auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu {
      display: flex;
      flex-direction: row;
      .menu-item {
        margin: 0 40px 0 40px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(48, 48, 48);
        cursor: pointer;
      }
      .navigation-menu {
        display: none;
      }
    }
    //NAVIGATION ENDS-------
  }
  @media (min-width: 768px) and (max-width: 992px){
    .header-body {
      margin: auto;
      padding: 10px 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu-item{
      display: none;
    }
    .navigation-menu{
      display: block !important;
      outline: none;
      margin: 0 0 0 40px;
      font-size: 16px;
      font-weight: bold;
      color: rgb(48, 48, 48);
      cursor: pointer;
      float: right;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .sidenav__header-sdnv {
      font-size: 18px;
      font-weight: 700;
      margin: 0 30px 0 20px;
    }
    .sidenav__header-sdnv img {
      cursor: pointer;
      outline: none;
      border: 0;
    }
    .sidenav__list-sdnv {
      margin: 40px 30px 0 20px;
    }
    .sidenav__item {
      color: rgb(48, 48, 48);;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 600;
      margin: 20px 0 20px 0;
      cursor: pointer;
      transition: 0.5s;
    }
  }
  @media (min-width: 540px) and (max-width: 768px) {
    .header-body {
      margin: auto;
      padding: 10px 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu-item{
      display: none;
    }
    .navigation-menu{
      display: block !important;
      outline: none;
      margin: 0 0 0 40px;
      font-size: 16px;
      font-weight: bold;
      color: rgb(48, 48, 48);
      cursor: pointer;
      float: right;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .sidenav__header-sdnv {
      font-size: 18px;
      font-weight: 700;
      margin: 0 30px 0 20px;
    }
    .sidenav__header-sdnv img {
      cursor: pointer;
      outline: none;
      border: 0;
    }
    .sidenav__list-sdnv {
      margin: 40px 30px 0 20px;
    }
    .sidenav__item {
      color: rgb(48, 48, 48);;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 600;
      margin: 20px 0 20px 0;
      cursor: pointer;
      transition: 0.5s;
    }
  }

  @media (max-width: 540px) {
    .header-body {
      margin: auto;
      padding: 10px 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu-item{
      display: none;
    }
    .navigation-menu{
      display: block !important;
      outline: none;
      margin: 0 0 0 40px;
      font-size: 16px;
      font-weight: bold;
      color: rgb(48, 48, 48);
      cursor: pointer;
      float: right;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    .sidenav__header-sdnv {
      font-size: 18px;
      font-weight: 700;
      margin: 0 30px 0 20px;
    }
    .sidenav__header-sdnv img {
      cursor: pointer;
      outline: none;
      border: 0;
    }
    .sidenav__list-sdnv {
      margin: 40px 30px 0 20px;
    }
    .sidenav__item {
      color: rgb(48, 48, 48);;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 600;
      margin: 20px 0 20px 0;
      cursor: pointer;
      transition: 0.5s;
    }
  }



}