<div class="home">
    <land-header></land-header>
    <div class="view-block">
        <div class="back-img">
        </div>
        <div class="text">
            Мы трансформируем отношения между брендами и людьми.
        </div>
    </div>
    <div class="services-block" >
        <div class="services" ng-repeat="service in vm.services">
                <div class="one-service">
                    <div class="img-service">
                        <img ng-src="{{service.img}}">
                    </div>
                    <div class="title">
                        {{service.title}}
                    </div>
                    <div class="service-text">
                        {{service.subtitle}}
                    </div>
                    <div class="more">
                        <button class="box">
              <span class="box__content-wrap">
                 <span class="box__content">
                  Подробнее
                 </span>
              </span>
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <div class="about-us">
        <div>
            <h3>о нас</h3>
            <span>о нас</span>
        </div>
        <div class="about-text">
            <p> TJ GLOBAL уважает полную конфиденциальность своих клиентов.
                Стабильность, качество, надежность, профессионализм. Поэтому друзья нас рекомендуют.</p>
            <p>
                TJ GLOBAL "Консалтинговая компания" №1 в Европе и России. Более 95% наших Клиентов приезжают к нам снова
                и
                снова и
                остаются с нами на протяжении многих лет.
            </p>
            <p>
                Корпоративный консалтинг является основной частью нашей работы с партнерамии клиентами со всего мира.
                Юридические услуги,
                бухгалтерские услуги, Поддержка транзакций, регистрация компаний, помощь в открытии банковского счета,
                Создание модели стратегии и
                продвижения предприятий, Получение финансовой лицензии(Forex, электронная комерция, азартные игры,
                банковское дело),
                управление предприятием, и многое другое, вот за что нас ценят партнеры и клиенты на протяжении многих
                лет
                пребывания у нас.
            </p>

        </div>
    </div>
    <div class="contact-us">
        <div class="contact-title">К о н т а к т ы</div>
        <div class="contact-block">
            <div class="first-block">
                <md-input-container md-no-float>
                    <input type="text" placeholder="FIRST NAME">
                </md-input-container>
                <md-input-container md-no-float>
                    <input type="text" placeholder="E-MAIL">
                </md-input-container>
                <md-input-container md-no-float>
                    <input type="text" placeholder="COMPANY NAME">
                </md-input-container>
            </div>
            <div class="second-block">
                <md-input-container md-no-float>
                    <input type="text" placeholder="LAST NAME">
                </md-input-container>
                <md-input-container md-no-float>
                    <input type="text" placeholder="SKYPE OR PHONE">
                </md-input-container>
                <md-input-container md-no-float>
                    <input type="text" placeholder="COMPANY WEBSITE">
                </md-input-container>
            </div>
        </div>
        <div class="long-input">
            <md-input-container md-no-float>
                <input type="text" placeholder="MESSAGE">
            </md-input-container>
        </div>
        <div class="send-block">
            <!--отправить-->
            <button class="box">
              <span class="box__content-wrap">
                 <span class="box__content">
                  отправить
                 </span>
              </span>
            </button>
        </div>
    </div>
    <land-footer></land-footer>
</div>