.footer{
  background-color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  .footer-body{
    margin: auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    .items{
      display: flex;
      flex-direction: row;
      .item{
        margin: 0 40px 0 40px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(48, 48, 48);
        cursor: pointer;
        font-family: 'PT Sans';
      }
    }

  }
  .trade-mark{
    margin: 40px 0px 40px 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(48, 48, 48);
    font-family: 'PT Sans Regular';

  }
  @media (max-width: 1024px) {
    .footer-body{
      margin: auto;
      width: 700px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100px;
    }
  }
}