.footer{
  background-color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  .footer-body{
    margin: auto;
    width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    .items{
      display: flex;
      flex-direction: row;
      .item{
        margin: 0 40px 0 40px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(48, 48, 48);
        cursor: pointer;
        font-family: 'PT Sans';
      }
    }

  }
  .trade-mark{
    margin: 40px 0px 40px 0px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(48, 48, 48);
    font-family: 'PT Sans Regular';

  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .footer-body{
      margin: auto;
      width: 100%;
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      //height: 100px;
    }
  }
  @media (min-width: 768px) and (max-width: 992px){
    .footer-body{
      margin: auto;
      width: 100%;
      padding: 10px 30px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      //height: 100px;
    }
  }
  @media (min-width: 540px) and (max-width: 768px){
    .footer-body{
      margin: auto;
      width: 100%;
      padding: 10px 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .item{
          margin: 0 10px 0 10px;
          font-size: 12px;
          font-weight: bold;
          color: rgb(48, 48, 48);
          cursor: pointer;
          font-family: 'PT Sans';
        }
      }
    }
    .trade-mark{
      margin: 10px 0 10px 10px;
      font-size: 10px;
      text-align: center;
      font-weight: 500;
      word-wrap: break-word;
      width: 70%;
      color: rgb(48, 48, 48);
      font-family: 'PT Sans Regular';

    }
  }
  @media (max-width: 540px) {
    .footer-body{
      margin: auto;
      width: 100%;
      padding: 10px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      //height: 100px;
      .items{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .item{
          margin: 0 10px 0 10px;
          font-size: 12px;
          font-weight: bold;
          color: rgb(48, 48, 48);
          cursor: pointer;
          font-family: 'PT Sans';
        }
      }
    }
    .trade-mark{
      margin: 10px 0 10px 10px;
      font-size: 10px;
      text-align: center;
      font-weight: 500;
      word-wrap: break-word;
      width: 80%;
      color: rgb(48, 48, 48);
      font-family: 'PT Sans Regular';

    }
  }
}